<section
  class="h-screen w-screen register-img-bg flex flex-col justify-center items-center gap-8"
>
  <!-- <div class="flex justify-center items-center mt-20 gap-1">
    <div
      class="flex justify-center items-center bg-amber-400 text-white font-bold h-8 w-8 rounded-full"
    >
      1
    </div>
    <span class="h-2 w-28 bg-zinc-500 text-white font-bold"></span>
    <div
      class="flex justify-center items-center bg-zinc-500 text-white font-bold h-8 w-8 rounded-full"
    >
      2
    </div>
    <span class="h-2 w-28 bg-zinc-500 text-white font-bold"></span>
    <div
      class="flex justify-center items-center bg-zinc-500 text-white font-bold h-8 w-8 rounded-full"
    >
      3
    </div>
    <span class="h-2 w-28 bg-zinc-500 text-white font-bold"></span>
    <div
      class="flex justify-center items-center bg-zinc-500 text-white font-bold h-8 w-8 rounded-full"
    >
      🏅
    </div>
  </div> -->

  <!-- <app-step-1></app-step-1> -->
  <!-- <app-step-2></app-step-2> -->
  <!-- <app-step-3></app-step-3> -->
  <!-- <app-step-4></app-step-4> -->
  <app-step-5></app-step-5>
</section>
