<div
  class="bg-white border-[1px] border-zinc-100 shadow-sm p-4 rounded-md mb-2"
>
  <div class="">
    <div class="flex justify-between items-center">
      <div>
        <h1 class="font-bold text-lg">This is the task title</h1>
        <p class="text-zinc-400 text-sm {{ checked ? 'line-through' : '' }}">
          My content is this i hope this work as expec...
        </p>
      </div>

      <div
        (click)="handleCheckTaskClick()"
        class="h-6 w-6 border-[1px] border-slate-400 hover:shadow-md p-[1px] rounded-full flex justify-center items-center cursor-pointer"
      >
        <i
          *ngIf="checked"
          class="text-2xl cursor-pointer text-slate-600 material-icons flex justify-center items-center"
          >check_circle</i
        >
      </div>
    </div>
    <div class="bg-zinc-100 w-full h-[1px] my-2"></div>
    <div class="flex justify-between items-center gap-2">
      <div class="flex justify-start items-center gap-1">
        <span class="text-zinc-400 text-sm font-semibold">Today</span>
        <span class="text-zinc-300 text-[13px]">08:15 PM - 10:34 PM</span>
        <p-button (onClick)="handleShowTask(true)">
          <i
            class="tiny mateial-icons text-zinc-400 hover:text-zinc-600 text-[20px] cursor-pointer"
            >eye</i
          >
          <app-modal-small [modalTaskData]="dataToModalTaskShow">
            <div>
              <h1>show Task</h1>
            </div>
          </app-modal-small>
        </p-button>
      </div>
      <div class="flex justify-end items-center">
        <p-button (onClick)="handleEditTask(true)">
          <i
            class="tiny material-icons text-zinc-400 hover:text-slate-500 text-[20px] cursor-pointer"
            >edit</i
          >
          <app-modal-small [modalTaskData]="dataToModalTaskEdit">
            <section class="px-4 py-3">
              <h1 class="font-semibold">Edit Task</h1>
              <form action="" class="text-start">
                <div>
                  <label for="title" class="font-semibold">Task Title </label>
                  <input
                    type="text"
                    id="title"
                    class="rounded-md w-full h-10 shadow-sm border-[1px] border-zinc-100"
                  />
                </div>
                <div class="mt-3">
                  <label for="content" class="font-semibold"
                    >Task Content</label
                  >
                  <input
                    type="text"
                    id="content"
                    class="rounded-md w-full h-10 shadow-sm border-[1px] border-zinc-100"
                  />
                </div>
                <button
                  type="submit"
                  class="bg-slate-100 text-slate-600 font-semibold py-2 px-3 rounded-md hover:bg-slate-200 flex justify-center items-center shadow-md mt-2 mb-2 w-full"
                >
                  <i class="large material-icons">pencil</i>
                  Edit now
                </button>
              </form>
            </section>
          </app-modal-small>
        </p-button>

        <p-button (onClick)="handleDeleteTask(true)">
          <i
            class="tiny material-icons hover:text-red-400 text-zinc-400 text-[20px] cursor-pointer"
            >delete</i
          >
          <app-modal-small [modalTaskData]="dataToModalTaskDelete">
            <div>
              <h1>Delete Task</h1>
            </div>
          </app-modal-small>
        </p-button>
      </div>
    </div>
  </div>
</div>
