<div
  [@shoot]="animationState"
  *ngIf="isVisible"
  class="bg-white border-[1px] border-zinc-100 shadow-sm p-4 rounded-md mb-2 {{
    checked ? 'border-dashed' : ''
  }} border-spacing-16 border-2"
>
  <div class="">
    <div class="flex justify-between items-center">
      <div>
        <h1
          class="font-bold text-[16px] opacity-80 {{
            checked ? 'line-through' : ''
          }}"
        >
          This is the task title
        </h1>
        <p class="text-zinc-400 text-sm {{ checked ? 'line-through' : '' }}">
          My content is this i hope this work as expec...
        </p>
      </div>

      <div
        class="h-6 w-6 border-[1px] border-slate-400 hover:shadow-md p-[1px] rounded-full flex justify-center items-center cursor-pointer"
        (click)="handleCheckTaskClick()"
      >
        <i
          *ngIf="checked"
          class="text-2xl cursor-pointer text-slate-600 material-icons flex justify-center items-center"
          >check_circle</i
        >
      </div>
    </div>
    <div class="bg-zinc-100 w-full h-[1px] my-2"></div>
    <div class="flex justify-between items-center gap-2">
      <div class="flex justify-start items-center gap-1">
        <span class="text-zinc-400 text-sm font-semibold">Today</span>
        <span class="text-zinc-300 text-[13px] mt-1">08:15 PM - 10:34 PM</span>
        <i
          (click)="openModal('see')"
          class="tiny material-icons text-zinc-400 hover:text-zinc-600 text-[20px] cursor-pointer"
          >visibility</i
        >
      </div>
      <div class="flex justify-end items-center">
        <i
          (click)="openModal('edit')"
          class="tiny material-icons text-zinc-400 hover:text-slate-500 text-[20px] cursor-pointer"
          >edit</i
        >
        <i
          (click)="openModal('delete')"
          class="tiny material-icons hover:text-red-400 text-zinc-400 text-[20px] cursor-pointer"
          >delete</i
        >
      </div>
    </div>
  </div>
</div>
