<section class="w-full mb-48 pb-48 relative overflow-x-hidden">
  <div
    class="w-full h-44"
    style="
      background: linear-gradient(
        113.3deg,
        rgb(112, 174, 190) -1.8%,
        rgb(60, 80, 115) 86.4%
      );
    "
  >
    <app-logout></app-logout>
  </div>
  <div class="w-full h-7 bg-slate-50 bg-opacity-70"></div>

  <section
    class="-mt-28 bg-white w-[25rem] py-4 pb-0 px-5 rounded-md shadow-md mx-auto h-44"
  >
    <nav class="border-b-2 border-zinc-100">
      <ul class="flex justify-between items-center">
        <li
          (click)="handleChosenDayTasks('yesterday')"
          class="{{
            chosenDayTasks == 'yesterday' ? 'nav-active' : ''
          }} text-zinc-300 font-semibold opacity-100 text-base hover:text-black cursor-pointer"
        >
          Yesterday
        </li>
        <li
          (click)="handleChosenDayTasks('today')"
          class="{{
            chosenDayTasks == 'today' ? 'nav-active' : ''
          }} text-zinc-300 font-semibold text-base  cursor-pointer"
        >
          Today's Task
        </li>
        <li
          (click)="openModal('settings')"
          class="text-zinc-300 font-semibold text-base hover:text-black cursor-pointer flex justify-center items-center gap-1"
        >
          Settings
          <i class="small material-icons">settings</i>
        </li>
      </ul>
    </nav>

    <div
      class="flex justify-between items-center mt-9"
      *ngIf="chosenDayTasks == 'yesterday'"
    >
      <div class="flex flex-col justify-center items-start mt-3">
        <div
          class="relative text-black font-semibold text-base opacity-40 flex justify-start items-center gap-1 -mt-14"
        >
          <i
            (click)="openModal('show-datapicker')"
            class="text-[17px] material-icons bg-zinc-200 rounded-full h-7 w-7 flex justify-center items-center cursor-pointer hover:bg-slate-300 shadow-sm mt-1"
            >calendar_month</i
          >
        </div>
      </div>
    </div>

    <div
      class="flex justify-between items-center pt-9 -mt-5"
      *ngIf="chosenDayTasks == 'today'"
    >
      <div class="flex flex-col justify-center items-start mt-3">
        <div
          class="text-black font-semibold text-base opacity-40 flex justify-start items-center gap-1"
        >
          <i
            (click)="openModal('show-datapicker')"
            class="text-[17px] material-icons bg-zinc-200 rounded-full h-7 w-7 flex justify-center items-center cursor-pointer hover:bg-slate-300 shadow-sm -mt-8"
            >calendar_month</i
          >
        </div>
      </div>

      <button
        (click)="openModal('create-task')"
        class="bg-slate-100 text-slate-600 font-semibold py-1 px-[4px] rounded-md hover:bg-slate-200 flex justify-center items-center shadow-sm mt-1 text-sm"
      >
        <i class="large material-icons">add</i>
        New Task
      </button>
    </div>

    <nav class="my-8">
      <ul class="flex justify-between items-center">
        <li
          (click)="handlechosenFilterNavegations('all')"
          class="flex justify-start cursor-pointer text-zinc-300 {{
            chosenFilterNavegations == 'all' ? 'nav-active-task-filter' : ''
          }} font-bold item-center gap-2 text-sm mx-1"
        >
          All
          <span
            class="{{
              chosenFilterNavegations == 'all'
                ? 'nav-active-task-filter-number'
                : ''
            }} font-semibold rounded-md bg-zinc-300 text-white px-[6px] py-0 text-[12px]"
            >32</span
          >
        </li>
        <span class="bg-zinc-100 h-6 w-[1px]"></span>
        <li
          (click)="handlechosenFilterNavegations('done')"
          class="{{
            chosenFilterNavegations == 'done' ? 'nav-active-task-filter-' : ''
          }} flex justify-start item-center gap-2 cursor-pointer font-semibold hover:text-slate-600 text-zinc-300 text-sm mx-1"
        >
          Done
          <span
            class="{{
              chosenFilterNavegations == 'done'
                ? 'nav-active-task-filter-number'
                : ''
            }} font-semibold rounded-md bg-zinc-300 text-white px-[6px] py-0 text-[12px]"
            >10</span
          >
        </li>
        <span class="bg-zinc-100 h-6 w-[1px]"></span>

        <li
          (click)="handlechosenFilterNavegations('edited')"
          class="{{
            chosenFilterNavegations == 'edited' ? 'nav-active-task-filter' : ''
          }} flex justify-start item-center gap-2 cursor-pointer font-semibold hover:text-slate-600 text-zinc-300 text-sm mx-1"
        >
          Edited
          <span
            class="{{
              chosenFilterNavegations == 'edited'
                ? 'nav-active-task-filter-number'
                : ''
            }} font-semibold rounded-md bg-zinc-300 text-white px-[6px] py-0 text-[12px]"
            >12</span
          >
        </li>
        <span class="bg-zinc-100 h-6 w-[1px]"></span>

        <li
          (click)="handlechosenFilterNavegations('arquived')"
          class=" 
          {{
            chosenFilterNavegations == 'arquived'
              ? 'nav-active-task-filter'
              : ''
          }}
          flex justify-start item-center gap-2 font-semibold cursor-pointer hover:text-slate-600 text-zinc-300 text-sm mx-1"
        >
          Archived
          <span
            class="{{
              chosenFilterNavegations == 'arquived'
                ? 'nav-active-task-filter-number'
                : ''
            }} font-semibold rounded-md bg-zinc-300 text-white px-[6px] py-0 text-[12px]"
            >5</span
          >
        </li>
      </ul>
    </nav>
  </section>

  <section class="mt-10 bg-transparent w-[25rem] rounded-md mx-auto mb-32">
    <div *ngIf="showComponent">show component</div>

    <h1 class="text-center text-zinc-300" *ngIf="!tasksForRender.length">
      No Tasks Available!
    </h1>
    <h4 class="text-center text-zinc-300" *ngIf="!tasksForRender.length">
      Add New Task
    </h4>
    <app-task *ngFor="let task of tasksForRender; let i = index"></app-task>
  </section>
</section>
