<section
  class="login-img-bg h-screen w-screen flex flex-col justify-center items-center"
>
  <h1 class="text-3xl font-bold text-white mb-3">Sign In</h1>
  <form
    action="/login"
    method="post"
    class="p-5 w-96 bg-white rounded-sm shadow-lg flex flex-col gap-5"
  >
    <a routerLink="/" class="font-bold mx-auto">
      <img src="../../../assets/images/logo.png" alt="" srcset=""
    /></a>
    <div class="w-full flex flex-col">
      <input
        type="text"
        id="email"
        name="email"
        class="border-b-[1px] border-zinc-300 p-1 text-zinc-500"
        placeholder="E-mail"
      />
    </div>

    <div class="relative w-full flex flex-col">
      <input
        type="text"
        id="password"
        name="password"
        class="border-b-[1px] border-zinc-300 p-1 text-zinc-500"
        placeholder="Password"
      />
      <i class="absolute right-0 bi bi-eye-fill text-zinc-600"></i>
    </div>

    <button
      type="submit"
      class="w-full p-3 bg-slate-900 hover:bg-slate-800 rounded-sm text-white hover:shadow-sm"
    >
      submit <i class="bi bi-send"></i>
    </button>
    <div class="flex justify-end items-center gap-1 my-[-15px]">
      <span class="text-[12px] text-zinc-400">Have no account</span>
      <a routerLink="/register" class="underline text-[12px] text-blue-600"
        >Sign Up</a
      >
    </div>
    <div class="flex justify-center items-center gap-2">
      <hr class="w-full" />
      <span class="text-zinc-300">or</span>
      <hr class="w-full" />
    </div>
    <div class="w-full flex flex-col justify-center items-center gap-2">
      <button
        class="w-full text-black font-semibold flex justify-center items-center rounded-full border-[1px] hover:shadow-sm border-zinc-300 p-3 hover:border-zinc-400"
      >
        <img src="../../../assets/images/google.png" class="w-8" alt="" />
        <span>Google</span>
      </button>
      <button
        class="text-black w-full font-semibold flex gap-2 justify-center items-center rounded-full border-[1px] border-zinc-300 p-3 hover:shadow-sm hover:border-zinc-400"
      >
        <img src="../../../assets/images/github.png" class="w-4 h-4" alt="" />
        <span>Github</span>
      </button>
    </div>
  </form>
</section>
