<section
  style="
    background: linear-gradient(
      113.3deg,
      rgb(112, 174, 190) -1.8%,
      rgb(60, 80, 115) 86.4%
    );
  "
  class="login-img-bg h-screen w-screen flex flex-col justify-center items-center"
>
  <form
    (ngSubmit)="onSubmit()"
    #loginForm="ngForm"
    method="post"
    class="p-3 px-4 w-96 bg-white rounded-sm shadow-lg flex flex-col gap-4"
  >
    <h1 class="text-xl text-start font-bold text-zinc-300">Sign In</h1>
    <div class="w-full flex flex-col">
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        class="border-b-[1px] border-zinc-300 p-1 text-zinc-500"
        placeholder="E-mail"
        required
      />
    </div>
    <div class="relative w-full flex flex-col">
      <input
        type="{{ visible ? 'text' : 'password' }}"
        id="password"
        [(ngModel)]="password"
        name="password"
        class="border-b-[1px] border-zinc-300 p-1 pb-2 text-zinc-500 {{
          visible ? '' : 'text-base'
        }}"
        placeholder="Password"
        required
      />
      <i
        (click)="toggle()"
        class="tiny material-icons text-zinc-300 text-[22px] cursor-pointer absolute right-1 top-2"
        >{{ visible ? "visibility" : "visibility_off" }}</i
      >
    </div>

    <button
      type="submit"
      [disabled]="loginForm.valid"
      class="w-full p-3 bg-slate-700 hover:bg-slate-800 rounded-sm text-white hover:shadow-sm"
    >
      submit
    </button>
    <p class="my-3 text-center text-red-500" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </form>

  <div
    class="py-2 px-4 w-96 bg-white rounded-sm shadow-lg flex flex-col gap-2 mt-5"
  >
    <h1
      class="text-lg text-start font-bold text-zinc-300 flex justify-start items-center gap-2"
    >
      <span class="text-slate-200 text-sm">Or |</span> Sign Up
    </h1>
    <a
      routerLink="/tasker/register"
      class="text-slate-700 hover:text-slate-800 text-lg font-bold text-center cursor-pointer bg-slate-50 hover:bg-slate-100 flex justify-center items-center"
    >
      Create New Account
      <i class="tiny material-icons text-slate-700 text-[22px] cursor-pointer"
        >east</i
      >
    </a>
  </div>
</section>
