<form
  method="post"
  action="/"
  class="flex flex-col justify-between items-stretch gap-2 mb-6 mx-auto w-[96%] bg-transparent rounded-lg p-6 shadow-sm ms-56 mt-12"
>
  <h3
    class="font-bold text-5xl text-zinc-400 flex justify-start items-center gap-2"
  >
    step
    <div
      class="bg-amber-600 h-6 w-6 font-bold text-white rounded-full flex justify-center items-center text-sm"
    >
      4
    </div>
  </h3>

  <h3 class="font-semibold text-lg text-white">Choose your techs interests</h3>
  <h5 class="text-[12px] text-zinc-200 mb-2">
    your have to choose nomore than 8 interests
  </h5>
  <section class="w-[50%]">
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">frontend</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">cyber security</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">soc</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">frontend</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">wireshark</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">parot</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">angular</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">vuejs</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">metasploit</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">python</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">nodejs</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">css</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">javascript</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">tips & tricks</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">kalilinux</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">hacker</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">backend</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">frontend</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">vunerabilities</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">Machine Learning</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">IA</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">desktop development</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">mobile development</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">devops</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">web development</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">docker</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">AWS</span>
    </button>
  </section>
  <hr class="h-[4px]" />
  <section class="interests-chosen">
    <h2 class="text-zinc-100 text-xl text-semibold mb-2">choosen</h2>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">docker</span>
    </button>
    <button
      class="m-1 border-[1px] border-zinc-200 p-[3px] rounded-full cursor-pointer hover:shadow-md text-white text-zinc-300"
    >
      <i class="bi bi-plus font-bold text-sm"></i>
      <span class="font-semibold text-[11px]">AWS</span>
    </button>
  </section>
  <div class="flex gap-2 mt-3">
    <button
      type="submit"
      class="transition-all text-[14px] transition-[all 0.4s ease-in-out] font-medium hover:text-white hover:bg-slate-800 text-white bg-slate-900 hover:shadow-md px-6 py-2 rounded-md shadow-sm"
    >
      Submit
    </button>
    <button
      class="transition-all text-[14px] transition-[all 0.4s ease-in-out] font-medium hover:text-white hover:bg-slate-900 border-[1px] border-zinc-400 text-zinc-400 px-6 py-2 rounded-md hover:shadow-md bg-transparent"
    >
      Cancel
    </button>
  </div>
  <a href="" class="text-slate-400 text-base mt-2 hover:text-slate-500"
    ><i class="bi bi-arrow-left"></i> Back</a
  >
</form>
