<form
  method="post"
  action="/"
  class="flex flex-col justify-between items-stretch gap-2 mb-6 mx-auto w-[96%] bg-transparent rounded-lg p-6 shadow-sm me-36 mt-12"
>
  <h3
    class="font-bold text-5xl text-zinc-400 flex justify-start items-center gap-2"
  >
    step
    <div
      class="bg-amber-600 h-6 w-6 font-bold text-white rounded-full flex justify-center items-center text-sm"
    >
      3
    </div>
  </h3>

  <h3 class="font-semibold text-lg text-white mb-2">
    Set your Profissional information
  </h3>

  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <select
        name="job"
        id="job"
        class="rounded-md bg-transparent text-[15px] border-[1px] border-zinc-200 text-white w-full p-2 placeholder:text-white"
      >
        <option value="">Job*</option>
        <option value="none">no working</option>
        <option value="student">student</option>
        <option value="frontend">frontend dev</option>
        <option value="backend">backend dev</option>
        <option value="enthusiat-hacker">enthusiat hacker</option>
        <option value="enthusiat-programmer">enthusiast programmer</option>
        <option value="cyber-engineer">cyber-sec... engineer</option>
        <option value="web-pen">web pent</option>
        <option value="us">other</option>
      </select>
    </div>
    <div class="w-1/2 relative">
      <input
        type="text"
        class="rounded-md text-[15px] border-[1px] border-white text-white w-full p-2 bg-transparent placeholder:text-white"
        placeholder="Is your First Job?"
      />
      <input
        type="checkbox"
        checked
        class="absolute right-3 top-3"
        name="firstJob"
        id="firstJob"
      />
    </div>
  </div>
  <div class="flex gap-1 w-full">
    <div class="w-1/2 relative">
      <input
        type="text"
        class="rounded-md text-[15px] border-[1px] w-full p-2 border-white text-white bg-transparent placeholder:text-white"
        placeholder="Is your work remote?"
      />
      <input
        type="checkbox"
        checked
        class="absolute right-3 top-3"
        name="remoteJob"
        id="remoteJob"
      />
    </div>
    <div class="w-1/2">
      <input
        type="number"
        class="rounded-md text-[15px] border-[1px] w-full p-2 border-white text-white bg-transparent placeholder:text-white"
        name="work-year"
        placeholder="years works"
        min="0"
      />
    </div>
  </div>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="rounded-md text-[15px] border-[1px] w-full p-2 border-white text-white bg-transparent placeholder:text-white"
        name="email"
        placeholder="Email Address"
      />
    </div>
  </div>
  <div class="flex gap-2">
    <button
      type="submit"
      class="transition-all text-[14px] transition-[all 0.4s ease-in-out] font-medium hover:text-white hover:bg-slate-800 text-white bg-slate-900 hover:shadow-md px-6 py-2 rounded-md shadow-sm"
    >
      Submit
    </button>
    <button
      class="transition-all text-[14px] transition-[all 0.4s ease-in-out] font-medium hover:text-white hover:bg-slate-900 border-[1px] border-zinc-400 text-zinc-400 px-6 py-2 rounded-md hover:shadow-md bg-transparent"
    >
      Cancel
    </button>
  </div>
  <a href="" class="text-slate-400 text-base mt-2 hover:text-slate-500"
    ><i class="bi bi-arrow-left"></i> Back</a
  >
</form>
