@font-face {
  font-family: "Monserat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Monserat Italic";
  src: url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monserat", "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #1d3f72;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
