<div class="p-3">
  <h1 class="text-slate-600 font-semibold text-xl">Delete Task</h1>
  <p class="text-red-300 py-2 font-semibold ps-3 text-sm text-center">
    Are you sure you wanna delete permanently this task?
  </p>
  <span class="text-zinc-200 text-sm">Inreversible action</span>
  <div class="modal-footer flex justify-center items-center">
    <div class="mt-1 flex justify-start items-center gap-3 self-start">
      <button
        (click)="activeModal.dismiss('Cross click')"
        class="text-sm bg-slate-100 rounded-md p-4 py-2 gap-0 text-slate-600 font-semibold hover:bg-slate-200 hover:shadow-md"
      >
        Cancel
      </button>
      <button
        (click)="showParentInfo()"
        class="text-sm bg-slate-600 rounded-md p-4 py-2 gap-0 text-white font-semibold hover:shadow-md hover:bg-slate-700"
      >
        Confirm <i class="bi bi-send text-white"></i>
      </button>
    </div>
  </div>
</div>
